html,
body {
    margin: 0;
    padding: 0;
}

preloader {
    display: none;
}

#spielfeld {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#spielfeld .cHelper {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
}

#spielfeld canvas {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}